<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="form-section">
            <form action="{{path}}" method="post">
                u_id : <input type="number" name="u_id">
                u_name : <input type="text" name="u_name">
                u_age : <input type="number" name="u_age">
                u_salary : <input type="number" name="u_salary">
                <input type="submit">
            </form>
        </div>
    </body>
</html>